body {
    margin: 0;
    font-family: Arial;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

#authScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authBox {
    background: #1a1a1a;
    padding: 35px;
    border-radius: 12px;
    width: 260px;
    box-shadow: 0 0 25px rgba(255,0,0,0.2);
}

.authBox input {
    width: 85%;
    padding: 10px;
    margin-bottom: 12px;
    border: none;
    border-radius: 6px;
    background: #2a2a2a;
    color: white;
}

.mainBtn, .altBtn {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: bold;
}

.mainBtn {
    background: crimson;
    color: white;
}

.mainBtn:hover {
    background: #ff2e5f;
}

.altBtn {
    background: #333;
    color: white;
}

.altBtn:hover {
    background: #444;
}

/* GAME */

#statsBar {
    padding: 15px;
    font-size: 20px;
    background: #1a1a1a;
    border-bottom: 3px solid #333;
}

#mainContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#gameBox, #chatBox {
    width: 500px;
    height: 400px;
    background: #1a1a1a;
    border: 4px solid #333;
}

#gameBox {
    position: relative;
    overflow: hidden;
}

#ball {
    width: 50px;
    height: 50px;
    background: crimson;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

#chatBox {
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    text-align: left;
    color: white;
}

#chatInputArea {
    display: flex;
}

#chatInput {
    flex: 1;
    padding: 10px;
    border: none;
}

#sendBtn {
    padding: 10px;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
}
